.task-modal {
    background-color: rgba(9, 30, 66, 0.54);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__modal {
        height: 800px;
        width: 80%;
        max-width: 1000px;
        background-color: white;
        display: grid;
        grid-template-columns: 2fr 1fr;

    }

    &__header {
        display: flex;
        justify-content: space-around;
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding: 0 10%;
    }

    &__sidebar {
        border-left: 1px solid #c9c9c9;
        padding: 40px;
        min-width: 350px;
        position: relative;
    }

    &__files {
        background: #c9c9c9;
        margin: 10px 0;
        display: flex;
        justify-content: space-around;

        &__img {
            width: 100px;
            height: 100px;
        }
    }

    &__subtasks {

        &__body {
            overflow: scroll;
            overflow-x: hidden;
            border: 1px solid #c9c9c9;
            margin-top: -17px;
            transition: 1s;

            &-open {
                height: 400px;
            }

            &-close {
                height: 0px;
            }
        }

        &__text {
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid #c9c9c9;
            cursor: pointer;
        }
    }

    &__description {
        max-height: 300px;
    }

    &__priority {
        cursor: pointer;
        position: relative;
    }

    &__create-date {
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
        left: 50%;
    }
}

.priority {

    &__list{
        top: 0;
        position: absolute;
        background: white;
        list-style: none;
        padding: 0;
        right: 28%;
        margin: 0;
        border: 1px solid #c9c9c9;

        li:hover {
            background: #c9c9c9;
        }
    }
}

.btn {
    background-color: #0d6efd;
    color: white;
    height: 38px;
    width: 87px;
    margin: 10px 10px;

    &:hover {
        background-color: #0d6efd;
        color: white;
    }
}


