.comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 200px;
    overflow: scroll;
    margin: 20px 0;
    background-color: #f4f5f7;

    &__comment {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-left: 1px #80808030 solid;
    }

    &__subcomments {
        position: relative;
        left: 15%
    }
}