.task-modal {
    background-color: rgba(9, 30, 66, 0.54);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}